/* Lutron Plugin styles*/
.lutronpluginPanelBorder {
    border: 1px solid rgb(15, 124, 240);
}
/* To highlight the component is a component list that is validated*/
.markFound {
    background-color: rgb(34, 255, 0);
}
/* the color of the signoff button - debug only */
.signoff-color {
    background-color: rgb(255, 153, 0) !important;
    color:white !important;
}

.required {
    color: red;
}



